* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 450px;
  margin: auto;
}

h1 {
  text-align: center;
}

button {
  background-color: purple;
  border-radius: 10px;
  color: #f5f6f7;
}

.container {
  margin-top: 25px;
  padding: 25px;
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(223, 220, 220, 0.75);
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}